[user]
	name = Guillaume Lagorce
	email = guillaume@hey-gul.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHyj8EpBurChGoP16HJZSYVUhWI+wu6Jw2E4T3FqNBgh

[includeIf "gitdir:~/Developer/1024pix/"]
	path = ~/Developer/1024pix/.gitconfig

[branch]
	autosetuprebase = always

[push]
	default = upstream
	autoSetupRemote = true

[core]
	excludesfile = ~/dotfiles/.gitignore_global
	pager = delta
	editor = nvim

[diff]
  tool = vimdiff
  noprefix = true

[difftool]
  # qa: Move to next set of diffs
  # cq: Exit with error code and stop
  trustExitCode = true
  prompt = false

[credential]
	helper = osxkeychain

[alias]
	br = branch
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  local-branches = !git branch -vv | grep ': disparue]' | awk '{print $1}'
	rm-local-br = !git branch -vv | grep ': disparue]' | awk '{print $1}' | xargs git branch -D
	root = status && cd `git rev-parse --show-toplevel | awk '{print $1}'`
	pushf = push --force-with-lease

[color]
	ui = auto
  branch = auto
  status = auto

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "branch"]
    current = white reverse
    local = white
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[fetch]
	prune = true
[rerere]
	enabled = true
[commit]
	template = ~/dotfiles/.stCommitMsg
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[interactive]
	singleKey = true
	diffFilter = delta --color-only
[help]
	autoCorrect = 5
[rebase]
	autostash = true
	autosquash = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
